/*Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Generics*/

body {

    font-family: sans-serif;
}

h1 {

    color: yellow;
    font-size: 2.5 rem;

}

h2 {

    color: green;
    font-size: 2.5rem;
}

.flex {

    display: flex;
    justify-content: center;
    align-items: center;
}


img {

    max-width: 100%;
    display: block;

}

a {
    text-decoration: none;
}




/*utils */
.container {
    max-width: 1200px;
    margin: 0 auto;
}



.full-page {

    height: 100vh;
}


#vans {

    background-color: red;
}

#vans {

    background-color: green;
}



#vans {

    background-color: yellow;
}