/*Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Generics*/

body {

    font-family: sans-serif;
}

h1 {

    color: yellow;
    font-size: 50px;

}

h2 {

    color: green;
    font-size: 50px;
}

.flex {

    display: flex;
    justify-content: center;
    align-items: center;
}


img {

    max-width: 100%;
    display: block;

}





/*utils */
.container {
    max-width: 1200px;
    margin: 0 auto;
}



.full-page {

    height: 100vh;
}


#vans {

    background-color: red;
}

#adidas {

    background-color: green;
}



#converse {

    background-color: yellow;
}


.content {
    /*scritta sul modello di punta */

    width: 50%;
    text-align: center;
}

/*pulsantiera serve per collegare le pagine tra di loro */


#pulsantiera {
    position: fixed;
    top: 30px;
    right: 20px;
}

ul {

    display: flex;

    gap: 30px;

    list-style-type: none;


}


a {
    text-decoration: none;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 16px;
    background-color: white;
    line-height: 50px;



    text-align: center;

}